html {
  box-sizing: border-box;
  line-height: 1.3rem;
  font-weight: normal;
  color: #555
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Crimson Text", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  color: #222;
}

header {
  font-style: italic;
}

column-rule: 2px solid

p {
padding-right: 1rem;
padding-left: 1rem;
}

.quote {
  color: #999
}
